<div class="container mt-5">
  <div class="row">
    <div class="col-md-4">
      <div class="converter">
        <label for="fromCurrency" class="form-label"
          >From Currency (e.g., USD)</label
        >
        <input
          type="text"
          [(ngModel)]="fromCurrency"
          class="form-control"
          id="fromCurrency"
          placeholder="Currency One"
        />
        <label for="toCurrency" class="form-label"
          >To Currency (e.g., EUR)</label
        >
        <input
          type="text"
          [(ngModel)]="toCurrency"
          class="form-control"
          id="toCurrency"
          placeholder="Currency Two"
        />
        <button (click)="convertCurrencies()" class="btn btn-primary mt-3">
          Go
        </button>
        <p *ngIf="conversionResult" class="mt-3">
          {{ fromCurrency }} to {{ toCurrency }}: {{ conversionResult }}
        </p>
      </div>
    </div>
  </div>
</div>
